<Page::Header @title="Dashboard"/>
<Page::Content>
  <div class="row">
    <div class="col-lg-3">
      <div class="nav flex-column nav-pills mb-3">
		<h2 class="card-title">
		{{this.sortedCustomers.length}}
           At A Glance
		</h2>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">
            Top Prospects
          </h2>
		  <table style="width:100%">
			<tr>
			<th>Name</th>
			<th>Company</th> 
			<th>Budget</th>
			</tr>
			<tr>
			</tr>
		</table>
        </div>
      </div>
    </div>
  </div>
</Page::Content>